<ul class="cart__list list" id="cart-list">
    {{#each this}}
    <li class="cart__list-item">
        <img src="{{images}}" alt="Бытовая техника" class="category-img">
        <a href="#" class="dom">{{name}}</a>
    </li>
    {{/each}}
</ul>