<ul class="list cart__list">
    {{#each this}}
            <li class="cart__list-item">
                <img src="./components/category/images/desktop/Rectangle 6.jpg" alt="Бытовая техника" width="300" height="150">
            <a href="#">{{name}}</a>
            </li>
{{/each}}
</ul>