<ul class="list cart__list" id="cart-list">
    {{#each this}}
    <li class="cart__list-item">
        <img src="{{images}}" alt="Бытовая техника" class="category-img">
        <a href="#" data-category="{{category}}">{{name}}</a>
    </li>
    {{/each}}
</ul>