<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <div class="box-modal">
        <ul class="auth-menu-list">
            <li>
                <h1 class="auth-menu-title">Username</h1>
            </li>
    
            <li class="auth-menu-list-item">
                <a href="http://" target="_blank" class="auth-menu-nav" id="auth-menu-personal-room">Личный кабинет</a>
                <a href="http://" target="_blank" class="auth-menu-nav" id="auth-menu-favorites">Избранное</a>
                <a href="http://" target="_blank" class="auth-menu-nav" id="auth-menu-create-adv">Создать объявление</a>
            </li>
        </ul>
    
        <div class="auth-menu-btn-wrapper">
            <button class="auth-menu-nav auth-menu-exit" id="auth-menu-exit">Выход</button>
        </div>
    </div>
</body>
</html>