a {
  text-decoration: none;
}

.profile-wrapper {
  background: #e5e5e5;
  padding: 74px;
}
.profile-title {
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  color: var(--primary-text-color);
  margin-bottom: 20px;
}

.profile-exit__link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-decoration-line: underline;
  color: var(--primary-text-color);
}
.profile-sections__wrapper {
  display: flex;
}
.profile-menu {
  margin-right: 30px;
}
.profile-menu__item {
  width: 340px;
  height: 64px;
  background: var(--primary-bg-color);
  border-radius: 10px;

  padding: 16px 24px;
  margin-bottom: 20px;
}
/* .profile-menu__item:hover,
  .profile-menu__item:focus {
    filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.15));
  } */

.profile-menu__item_active {
  filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.15));
}

.profile-menu__item_link {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: var(--title-text-color);
}

.profile-menu__item_link svg {
  display: block;
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.profile-menu {
  flex: 0 0 280px;
}
.profile-sections__details {
  flex: 1 1 auto;
}

.profile-input {
  display: block;
  font-family: 'Montserrat Alternates', sans-serif;
  max-width: 302px;
  width: 100%;
  height: 40px;
  background: var(--primary-bg-color);
  border: 1px solid #b3b3b3;
  border-radius: 10px;
  padding: 12px 20px;
  color: var(--title-text-color);
  margin-top: 10px;
}
.profile-label {
  display: block;
  margin-bottom: 22px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: var(--primary-text-color);
}
.required-star {
  color: #ff8a9d;
  margin-right: 6px;
}

.profile__btn {
  width: 250px;
  height: 44px;
  text-align: center;
  padding: 11px 50px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
}

.input-wrapper {
  display: flex;
}
.input-wrapper__column {
  flex: 0 0 50%;
  box-sizing: border-box;
}

.input-wrapper__column-left {
  margin-right: 30px;
}

.wrapper-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 320px) {
}
@media screen and (min-width: 768px) {
  /* .profile-menu__item {
    width: 223px;
    height: 64px;
    background: var(--primary-bg-color);
    border-radius: 10px;
    padding: 16px 24px;
    margin-bottom: 20px;
  } */
}

@media screen and (min-width: 1200px) {
}
