{{#each this}} 
      <div class="container">
        <div class="product-card-name-container">
          <h2 class="product-card-title">{{name}}</h2>
          <p class="product-card-code"><span>Код: </span> {{ _id}}</p>
        </div>
        <div class="product-card-main-container">

          <div class="product-card-slider">
            <div class="product-card-slider-big-photo"></div>
            <div class="product-card-small-photo">
              <ul class="product-card-slider-list">
              </ul>
            </div>
          </div>
          <div class="product-card-low-dange">
            <h3 class="product-card-price">{{price}} ₴</h3>
            <div class="product-card-price-button-div">
              <button class="product-card-button-buy" type="button">КУПИТЬ</button>
              <button class="product-card-button-bookmarks" type="button"></button>
              <p class="product-card-none">В избранное</p>
            </div>
          </div>
  
        </div>
        <div class="product-card-main-list">
          <ul class="product-card-list">
            <li class="product-card-item">
              <h3 class="product-card-item-title">Описание:
              </h3>
              <p class="product-card-item-description">
                {{description}}
              </p>
            </li>
            <li class="product-card-item">
              <h3 class="product-card-item-title">Гарантия:
              </h3>
              <p class ="product-card-item-description">
                12 месяцев официальной гарантии от производителя
                Обмен/возврат товара в течение 14 дней
                Продавец гарантирует упаковку заказанного товара, которая обеспечит целостность и сохранность его товарного вида
               </p>
            </li>
          </ul>
        </div>
      </div>

{{/each}}