{{#each this}} 
<section class="product-card">
  <h2>{{Робот-пылесос Xiaomi RoboRock S5 Max White (S5E02-00)}}</h2>
  <p><span>код:</span>{{189864298}}</p>
  <div class="slider"></div>
  <h3>{{13 000}}</h3>
  <div>
    <button class="button primary">{{купить}}</button>
    <!-- <img src="" alt=""> -->
  </div>
  <ul>
    <li>
      <h3>{{Описание:}}</h3>
      <p>{{Робот – пылесос RoboRock S5 Max позаботится об идеальной чистоте в вашем доме. Это умное устройство совершает сухую и влажную уборку, не оставляя пыли и грязи ни единого шанса. Оснащенный емкой батареей, пылесос работает до 3 часов без подзарядки, за это время он способен навести порядок в доме площадью 250 м.кв.}}</p>
    </li>
    <li>
      <h3>{{Гарантия:}}</h3>
      <p>
        12 месяцев официальной гарантии от производителя
        Обмен/возврат товара в течение 14 дней
        Продавец гарантирует упаковку заказанного товара, которая обеспечит целостность и сохранность его товарного вида
       </p>
    </li>
  </ul>
</section>
{{/each}}