<div class="profile-wrapper">
    <div class="wrapper-title">
        <h2 class="profile-title">Учетная запись</h2>
        <a class="profile-exit__link" href="#">Выход</a>
    </div>
    <div class="profile-sections__wrapper">
        <ul class="list profile-menu">
            <li class="profile-menu__item profile-menu__item_contacts">
                <a class="profile-menu__item_link" href="#">
                    <svg>
                        <use href="./components/profile/icons/sprite.svg#contacts-icon"></use>
                    </svg>Контакты</a>
            </li>
            <li class="profile-menu__item profile-menu__item_change-password">
                <a class="profile-menu__item_link" href="#">
                    <svg>
                        <use href="./components/profile/icons/sprite.svg#change-password-icon"></use>
                    </svg>Изменить пароль</a>
            </li>
            <li class="profile-menu__item profile-menu__item_address">
                <a class="profile-menu__item_link" href="#">
                    <svg>
                        <use href="./components/profile/icons/sprite.svg#address-icon"></use>
                    </svg>Мой адрес</a>
            </li>
            <li class="profile-menu__item profile-menu__item_favorites">
                <a class="profile-menu__item_link" href="#">
                    <svg>
                        <use href="./components/profile/icons/sprite.svg#favorites-icon"></use>
                    </svg>Избранное</a>
            </li>
            <li class="profile-sections__details">

            </li>
        </ul>

    </div>
</div>