<form class="contacts-form">

    <label class="profile-label"><span class="required-star">*</span>Имя, отчество
        <input class="profile-input" type="text" name="name" placeholder="Username" required /></label>
    <label class="profile-label"><span class="required-star">*</span>Фамилия
        <input class="profile-input" type="text" name="surname" placeholder="Username2" required /></label>
    <label class="profile-label"><span class="required-star">*</span>E-mail<input class="profile-input" type="email"
            name="email" placeholder="user@mail.com" required /></label>
    <label class="profile-label"><span class="required-star">*</span>Телефон<input class="profile-input" type="tel"
            name="phone" placeholder="+38 (097) 123 45 67" required /></label>

    <button class="profile-btn button primary">Сохранить</button>
</form>