<form class="changepassword-form">
    <label class="profile-label"><span class="required-star">*</span>Пароль
        <input class="profile-input" type="password" pattern="[a-zA-Z0-9]{8,16}"
            title="Пароль должен содержать как минимум одну цифру, одну прописную и строчную букву, минимум 8, максимум 16 символов"
            name="password" placeholder="********" /></label>
    <label class="profile-label"><span class="required-star">*</span>Подтвердите пароль<input class="profile-input"
            type="password" pattern="[a-zA-Z0-9]{8,16}"
            title="Пароль должен содержать как минимум одну цифру, одну прописную и строчную букву, минимум 8, максимум 16 символов"
            name="confirmPassword" placeholder="********" /></label>
    <button class="profile-btn button primary">СОХРАНИТЬ</button>
</form>