<form class="address-form">
        <div class="input-wrapper">
                <div class="input-wrapper__column input-wrapper__column-left"><label class="profile-label"><span
                                        class="required-star">*</span>Имя
                                <input class="profile-input" type="text" name="name" minlength="2" maxlength="20"
                                        pattern="[a-zA-Z\-\s]*"
                                        title="Поле может содержать только латинские символы: A-Z a-z"
                                        placeholder="Username" required /></label>
                        <label class="profile-label"><span class="required-star">*</span>Фамилия
                                <input class="profile-input" type="text" name="surname" minlength="2" maxlength="20"
                                        pattern="[a-zA-Z\-\s]*"
                                        title="Поле может содержать только латинские символы A-Z a-z"
                                        placeholder="Username2" required /></label>
                        <label class="profile-label"><span class="required-star">*</span>Страна<input
                                        class="profile-input" type="text" name="country" minlength="2" maxlength="20"
                                        pattern="[a-zA-Zа-яА-я]*"
                                        title="Поле может содержать от 2-х до 20-ти символов латинского алфавита или кириллицу"
                                        placeholder="Украина" required /></label>
                        <label class="profile-label"><span class="required-star">*</span>Регион / Область<input
                                        class="profile-input" type="text" name="place" minlength="2" maxlength="20"
                                        pattern="[a-zA-Zа-яА-я]*"
                                        title="Поле может содержать от 2-х до 20-ти символов латинского алфавита или кириллицу"
                                        placeholder="Киевская" required /></label></div>
                <div class="input-wrapper__column"> <label class="profile-label"><span
                                        class="required-star">*</span>Город<input class="profile-input" type="text"
                                        name="city" minlength="2" maxlength="20" pattern="[a-zA-Zа-яА-я]*"
                                        title="Поле может содержать от 2-х до 20-ти символов латинского алфавита или кириллицу"
                                        placeholder="город" required /></label>
                        <label class="profile-label"><span class="required-star">*</span>Адрес<input
                                        class="profile-input" type="text" name="street"
                                        placeholder="Улица, дом, квартира" required /></label>
                        {{!-- <label class="profile-label">Адрес2<input class="profile-input" type="text"
                                        name="streetadditional" placeholder="лица, дом, блок, квартира" /></label> --}}
                        {{!-- <label class="profile-label"><span class="required-star">*</span>Почтовый индекс<input
                                        class="profile-input" type="number" name="zip" placeholder="00000"
                                        required /></label>--}}
                </div>
        </div>


        <button class="profile-btn button primary">Сохранить</button>
</form>