<form class="address-form">
    <div class="input-wrapper">
        <div class="input-wrapper__column input-wrapper__column-left"><label class="profile-label"><span
                    class="required-star">*</span>Имя,
                отчество
                <input class="profile-input" type="text" name="name" placeholder="Username" required /></label>
            <label class="profile-label"><span class="required-star">*</span>Фамилия
                <input class="profile-input" type="text" name="surname" placeholder="Username2" required /></label>
            <label class="profile-label"><span class="required-star">*</span>Страна<input class="profile-input"
                    type="text" name="country" placeholder="Украина" required /></label>
            <label class="profile-label"><span class="required-star">*</span>Регион / Область<input
                    class="profile-input" type="text" name="place" placeholder="Киевская" required /></label></div>
        <div class="input-wrapper__column"> <label class="profile-label"><span class="required-star">*</span>Город<input
                    class="profile-input" type="text" name="city" placeholder="город" required /></label>
            <label class="profile-label"><span class="required-star">*</span>Адрес1<input class="profile-input"
                    type="text" name="address" placeholder="Улица, дом, квартира" required /></label>
            <label class="profile-label">Адрес2<input class="profile-input" type="text" name="addressadditional"
                    placeholder="Улица, дом, квартира" /></label>
            <label class="profile-label"><span class="required-star">*</span>Почтовый индекс<input class="profile-input"
                    type="number" name="zip" placeholder="00000" required /></label></div>
    </div>


    <button class="profile-btn button primary">Сохранить</button>
</form>