<form class="changepassword-form">
    <label class="profile-label"><span class="required-star">*</span>Пароль
        <input class="profile-input" type="password" name="password" placeholder="********" /></label>
    <label class="profile-label"><span class="required-star">*</span>Подтвердите пароль<input class="profile-input"
            type="password" name="confirmPassword" placeholder="********" /></label>
    <button class="profile-btn button primary">Сохранить</button>
</form>