<form class="searchForm" name="searchForm">

  <button type="button" class="searchButton__close"></button>

  <input class="searchInput" type="text" name="searchInput" id="searchProduct" placeholder="Поиск" />
  <button class="searchButton" type="submit" name="searchButton">
    <span class="searchButton__span">искать</span>
  </button>
</form>