 <section class="hero">
<div class="wripper">
<div class="slider-container">
<div class="slider-track">
<div class="slider-item">1</div>
<div class="slider-item">2</div>
<div class="slider-item">3</div>
<div class="slider-item">4</div>
</div>
</div>
<div class="dots">
<span class="dot is-active" data-src="0"></span>
<span class="dot" data-src="1"></span>
<span class="dot" data-src="2"></span>
<span class="dot" data-src="3"></span>
</div>
<div class="slider-arrows">
<button type="button" class="prev">	&lt;</button>
<button type="button" class="next">	&gt;</button>
</div>
</div>
</section>
