/* пробный список, что бы понять как будут
стоять две карточки в ряд */
.card-list {
  display: flex;
  flex-wrap: wrap;
}
/* основные стили для карточки  */
.picture-box {
  margin: 0 auto 15px auto;
  height: 80px;
}

.item-picture {
  max-height: 80px;
}
.item-picture:not(:first-child) {
  display: none;
}
.card-item {
  width: calc((100% - 10px) / 2);
  background-color: #ffffff;
  border-radius: 10px;
  margin-bottom: 10px;
}

.item-box {
  position: relative;
  padding: 15px;
}
/* стили для иконки ИЗБРАННОЕ */
.icon-box-favorit {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 18px;
  display: block;
  background-image: url(./images/icon-heart.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.icon-box-favorit-full {
  background-image: url(./images/icon-heart-full.svg);
}
.item-picture {
  margin: 0 auto;
}
.card-item-title {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 10px;
  line-height: 1.2;
  text-align: left;
  letter-spacing: 0em;
  color: var(--title-text-color);
  margin-bottom: 10px;
}
/* стили для иконок рейтинг */
/* .icon-box {
  display: flex;
} */
.icon-box-star {
  display: block;
  background-image: url(./images/icon-star.svg);
  background-repeat: repeat-x;
  width: 40px;
  height: 8px;
  background-size: contain;
}
.icon-star:not(:last-child) {
  margin-right: 5px;
}
/* стили для бокска с ценами */
.item-box-price {
  margin-top: 22px;
}
.notsale-price {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 10px;
  line-height: 1.2;
  text-decoration-line: line-through;
  color: var(--line-color);
}
.price {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  color: var(--footer-bg-color);
}
@media screen and (max-width: 767px) {
  .card-item:nth-child(2n) {
    margin-left: 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .card-item:not(:nth-child(3n)) {
    margin-right: 18px;
  }
}
@media screen and (min-width: 768px) {
  .card-item {
    width: calc((100% - 18px * 2) / 3);
    margin-bottom: 18px;
  }
  .item-box {
    padding: 20px;
  }
  .picture-box {
    height: 140px;
  }
  .item-picture {
    max-height: 140px;
  }
  .card-item-title {
    font-weight: 500;
    font-size: 14px;
  }
  .notsale-price {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .card-item {
    width: calc((100% - 18px * 4) / 5);
    margin-bottom: 18px;
  }
  .card-item:not(:nth-child(5n)) {
    margin-right: 18px;
  }
  .card-item-title {
    font-weight: 500;
    font-size: 14px;
  }
  .item-box-price {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 26px;
    justify-content: space-between;
    align-items: baseline;
  }
  .notsale-price {
    display: block;
  }
}
