<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<!-- <ul id="pagination-list">
    <button type="button" class="button" data-index="1">1</button>
    <button type="button" class="button" data-index="2">2</button>
    <button type="button" class="button" data-index="3">3</button>
    <button type="button" class="button hide" data-index="4">4</button>
    <button type="button" class="button btn" data-next="next">
        <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 0.999999L9 8L0.999998 15" stroke="#53535C" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
        </svg>
    </button>
    <button type="button" class="button btn" data-end="end"><svg width="10" height="16" viewBox="0 0 10 16" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M1 0.999999L9 8L0.999998 15" stroke="#53535C" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
        </svg><svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 0.999999L9 8L0.999998 15" stroke="#53535C" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
        </svg></button>

    <p class="show-quantity">Показано с 1 по 20 из 68</p>
</ul> -->



</body>
</html>