.authorization, .errorModal{
position: absolute;
width: 320px;
height: 568px;
top:50%;
left:50%;
transform: translate(-50%, -50%);
background: #FFFFFF;
border-radius: 10px;
padding-top: 20px;
padding-left: 20px;
margin-top:0;
}

.errorModal{
    padding: 10px;
}

@media screen and (min-width:768px){
    .authorization,.errorModal{
    width: 342px;
    height: 450px;
    }

}

.error-title{
    font-size: 25px;
    font-weight: 700;
    color: red;
    margin: 0 auto;
    margin-bottom: 25px;
        text-align: center;

}

.error-text{
    font-size: 25px;
    text-align: center;
        margin: 0 auto;
    margin-bottom: 20px;

}

.error-icon{
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;

}

.authtitle {
font-size:18px;
font-weight: 600px;
line-height: 22px;
margin-bottom: 20px;
}

.authspan{
    color: red;
}

.password-hint, .email-hint{
    display: none;
    color: red;
    font-size: 12px;
    font-weight: 500;
    margin:0;
    margin-top: 5px;
}

.authlabel{
    display: block;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    margin-bottom: 10px;
}

.authinput{
display: block;
width: 280px;
height: 40px;
background: #FFFFFF;
border: 1px solid #B3B3B3;
border-radius: 10px;
}

.email-section, .password-section {
    margin-bottom: 20px;
}

.authradio{
display: block;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
color: #53535C;
}

.radiobutton{
    margin-bottom: 20px;
}

.checkbutton{
    margin-right: 10px;
}

.enterAccount, .registerAccount{
    display: block;
    width: 240px;
    height: 44px;
    margin: 0 auto;

}

.enterAccount{
    color: white;
    background: linear-gradient(47.73deg, #6368E5 15.48%, #B884F3 81.25%);
    margin-bottom:15px;
}

.registerAccount{
    border: 2px solid #6368E5;
    background-color:  transparent;
    padding:0;
    color: #6368E5;
}

.icon-auth{
    font-size: 20px;
}

.auth-icon-wrapper{
    margin:0;
}