.lastSeen {
  padding-bottom: 45px;
}

.lastSeen .slider-arrows {
  visibility: hidden;
}

.lastSeen-title {
  font-size: 26px;
  line-height: 1.23;
  margin: 0;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .lastSeen {
    padding-bottom: 60px;
  }
}
