.lastSeen-section {
  /* padding-top: 45px; только у Тани*/
  padding-left: 20px;
  padding-bottom: 45px;
  /* border: 1px solid violet; */
}

.lastSeen-title {
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 1.21;

  color: var(--title-text-color);
  text-align: left;
  margin-bottom: 20px;
}

.lastSeen-list {
  display: flex;
  /* flex-wrap: wrap; */
}

.lastSeen-item {
  border-radius: 10px;
}

.lastSeen-item:not(last-child) {
  margin-right: 10px;
}

@media screen and (min-width: 320px) {
  .lastSeen-item {
    max-width: 135px;
  }
}

@media screen and (min-width: 768px) {

  .lastSeen-section {
    /* padding-top: 60px;только у Тани */
    padding-bottom: 60px;
  }

  .lastSeen-list {
    justify-content: flex-start
  }

  .lastSeen-item {
    max-width: 204px;
  }

  .lastSeen-item:not(last-child) {
    margin-right: 15px;
  }
}
