/* ============== HEADER */
/* .isHidden {
  display: none;
} */
.page-header {
  background-color: var(--header-bg-color);
  color: var(--primary-text-color);
  font-size: 18px;
  font-weight: 800;
}

.page-header a {
  color: var(--primary-text-color);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 9px 0px;
}

/* LOGO */

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo img {
  width: 40px;
  height: 40;
}

.logo p {
  color: var(--header-text-color);
  font-weight: 400;
  font-size: 28px;
  line-height: 1.2;
  margin-left: 15px;
  margin-top: 0;
  margin-bottom: 0;
}

.logo span {
  text-transform: uppercase;
  font-weight: 800;
}

@media screen and (max-width: 767px) {
  .logo p {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
  }
}

/* ICONS */

.nav-icon {
  fill: var(--header-text-color);
}

/* BUTTONS */

.page-header button {
  background-color: transparent;
  border-color: transparent;
  border: 0px;
  color: var(--primary-text-color);
  font-size: 18px;
  font-weight: 800;
  font-family: inherit;
  padding: 0;
}

.icon-list {
  display: flex;
  width: 110px;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .icon-list {
    width: 142px;
  }
}

.icon-list button {
  background-color: transparent;
  border-color: transparent;
}

/* BURGER */

.burger {
  background-color: transparent;
  border-color: transparent;
}

.icon-burger {
  fill: var(--third-accent-color);
}

.icon-close {
  width: 14px;
  height: 14px;
  fill: var(--third-accent-color);
}

/* HEADER MODAL */

.header-modal {
  background-color: #e5e5e5;
  padding-bottom: 60px;
}

.header-modal svg {
  fill: var(--primary-text-color);
}

.input {
  display: flex;
  align-items: center;
}

.search-modal {
  background-color: transparent;
  border-color: transparent;
  border: 0px;

  margin: 15px;

  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
}

.search-modal:focus {
  outline: none;
  border-bottom: 1px solid var(--primary-text-color);
}

.modal-list-item button {
  width: 100%;
}

.modal-list-item:not(:last-child) {
  margin-bottom: 15px;
}

.modal-inner-button {
  display: flex;
  align-items: center;
}

.numbers-button button {
  font-weight: 500;
  font-size: 14px;
}

.likes-link {
  display: flex;
  align-items: center;
  fill: var(--primary-text-color);
}

.with-icons {
  margin-left: 10px;
}

.arrow {
  margin-left: auto;
  /* transform: rotate(-90deg); */
}

/* ИКОНКА С КОЛИЧЕСТВОМ */

.js-cart {
  position: relative;
}

.js-likes {
  position: relative;
}

.amount {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 14px;
  height: 14px;
  border-radius: 50%;
  position: absolute;

  font-weight: 600;
  font-size: 8px;
  color: var(--header-text-color);

  background: linear-gradient(47.73deg, #6368e5 15.48%, #b884f3 81.25%);
}

.items-amount {
  top: -2px;
  right: -5px;
}

.likes-amount {
  top: -2px;
  left: 20px;
}

.closed {
  display: none;
}

/* desktop */

.page-header .desktop-list {
  display: flex;
  color: var(--header-text-color);
}
