<div class="header-modal">
          <div class="container">
            <div class="input">
              {{!-- <svg class="nav-icon" width="20" height="20">
                <use href="./images.sprite.svg#icon-search"></use>
              </svg> --}}
              <input class="search-modal"
               type="text" id="search-modal"
               name="search-modal" placeholder="Поиск">
            </div>

            <ul class="list modal-list">
              <li class="modal-list-item">
                <button class="modal-inner-button js-catalog">Каталог
                  <span class="arrow" id="catBtnIcon">►</span>
                </button>
                <ul class="catalog isHidden" data-catalog="catalog">
                </ul>
              </li>
              <li class="modal-list-item js-sale">
                <a href="#">SALE &#37;</a>
              </li>
              <li class="modal-list-item">
                <button class="modal-inner-button js-info">
                  <span>Информация</span>
                  <span class="arrow">►</span>
                  {{!-- <svg class="arrow" width="10" height="8">
                    <use href="./images/sprite.svg#icon-navarrow"></use>
                  </svg> --}}
                </button>
              </li>
              <li class="modal-list-item">
                <a href="#">Контакты</a>
              </li>
              <li class="numbers-button modal-list-item">
                <button class="modal-inner-button js-phone">
                  {{!-- <svg class="" width="30" height="30">
                    <use href="./images/sprite.svg#icon-smartphone"></use>
                  </svg> --}}
                  <span class="with-icons">+38 (050) 333-37-96</span>
                  <span class="arrow">►</span>
                  {{!-- <svg class="arrow" width="10" height="8">
                    <use href="./images/sprite.svg#icon-navarrow"></use>
                  </svg> --}}
                </button>
              </li>
              <li class="modal-list-item">
                <button class="modal-inner-button js-profile">
                  {{!-- <svg class="" width="30" height="30">
                    <use href="./images/sprite.svg#icon-profile"></use>
                  </svg> --}}
                  <span class="with-icons">Личный кабинет</span>
                  <span class="arrow">►</span>
                  {{!-- <svg class="arrow" width="10" height="8">
                    <use href="./images/sprite.svg#icon-navarrow"></use>
                  </svg> --}}
                </button>
              </li>
              <li class="modal-list-item">
                <a href="#" class="likes-link js-likes">
                  {{!-- <svg class="" width="30" height="30">
                    <use href="./images/sprite.svg#icon-likes"></use>
                  </svg> --}}
                  <div class="likes-amount amount">0</div>
                  <span class="with-icons">Избранное</span>
                </a>
              </li>
            </ul>
          </div>
        </div>