:root {
  /* Цвета хедера */
  --header-bg-color: #53535c;
  --header-text-color: #ffffff;
  /* Основные цвета */
  --primary-text-color: #53535c;
  --title-text-color: #000000;
  --second-title-color: #6368e5;
  --primary-bg-color: #f4f4f4;
  --second-bg-color: #ffffff;
  --third-text-color: #b3b3b3;
  /* Цвета футера */
  --footer-question-color: #ffc390;
  --footer-text-color: #ffffff;
  --footer-bg-color: #53535c;
  --footer-phone-color: #c7c7c7;
  --line-color: #b3b3b3;
  /* Цвета акцента */
  --primary-accent-color: #6368e5;
  --second-accent-color: #b884f3;
  --third-accent-color: #ffc390;
  /* Цвета кнопок */
  --btn-text-color: #ffffff;
  --btn-accent-color: #6368e5;
  /* Кубик для анимации */
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat Alternates', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.22;

  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
<<<<<<< HEAD

=======
a {
  text-decoration: none;
}
/* Visually-hidden */
>>>>>>> default
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}

/* list */
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Container */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

@media screen and (min-width: 320px) {
  .container {
    width: 310px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 678px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1110px;
  }
}

/* Button */
.button {
  padding: 11px 78px;

  min-width: 240px;
  min-height: 44px;

  border-radius: 10px;
  border: 2px solid transparent;

  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;

  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  cursor: pointer;
  transition: color 250ms var(--timing-function),
    background-image 250ms var(--timing-function),
    background-color 250ms var(--timing-function);
}
.button.primary {
  background-image: linear-gradient(47.73deg, #6368e5 15.48%, #b884f3 81.25%);
  background-position: center;
  background-size: calc(100% + 4px);

  color: var(--btn-text-color);
}
.button.primary:hover,
.button.primary:focus {
  border: 2px solid var(--btn-accent-color);
  color: var(--btn-accent-color);
  background-image: none;
  background-color: var(--btn-text-color);
}
.button.secondary {
  border: 2px solid var(--btn-accent-color);
  color: var(--btn-accent-color);
  background-color: var(--btn-text-color);
}
.button.secondary:hover,
.button.secondary:focus {
  background-image: linear-gradient(47.73deg, #6368e5 15.48%, #b884f3 81.25%);
  background-position: center;
  background-size: calc(100% + 4px);
  border: none;

  color: var(--btn-text-color);
}
